
services:
  # Reverse proxy (nginx)
  proxy:
    image: jwilder/nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - /etc/nginx/vhost.d:/etc/nginx/vhost.d:rw
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - /usr/share/nginx/html:/usr/share/nginx/html:rw
    environment:
      - PROXY_CONNECT_TIMEOUT=600
      - PROXY_SEND_TIMEOUT=600
      - PROXY_READ_TIMEOUT=600

  # Let's Encrypt companion
  acme-companion:
    image: nginxproxy/acme-companion
    restart: always
    environment:
       NGINX_PROXY_CONTAINER: collegecounter-proxy-1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/nginx/vhost.d:/etc/nginx/vhost.d:rw
      - /usr/share/nginx/html:/usr/share/nginx/html:rw
      - ./certs:/etc/nginx/certs
      - /var/run/docker.sock:/tmp/docker.sock:ro
    depends_on:
      - proxy

  frontend:
    build:
      context: ./cc-frontend/v1
      args:
        REACT_APP_API_URL: ${REACT_APP_API_URL}
        VITE_CURRENT_SEASON_ID: ${VITE_CURRENT_SEASON_ID}
    environment:
      VIRTUAL_HOST: collegecounter.org,www.collegecounter.org
      LETSENCRYPT_HOST: collegecounter.org,www.collegecounter.org
      LETSENCRYPT_EMAIL: collegiatecounter@gmail.com
    depends_on:
      - backend
    expose:
      - "80"

  backend:
    build: ./cc-backend/v1
    environment:
      SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      PLAYFLY_API_KEY: ${PLAYFLY_API_KEY}
      FACEIT_API_KEY: ${FACEIT_API_KEY}
      DATABASE_URL: ${DATABASE_URL}
      NWES_API_KEY: ${NWES_API_KEY}
      DISCORD_WEBHOOK_URL: ${DISCORD_WEBHOOK_URL}
      GOOGLE_APPLICATION_CREDENTIALS: ${GOOGLE_APPLICATION_CREDENTIALS}
      VIRTUAL_HOST: api.collegecounter.org
      LETSENCRYPT_HOST: api.collegecounter.org
      LETSENCRYPT_EMAIL: collegiatecounter@gmail.com
    volumes:
      - ./credentials/college-counter-9057f-firebase-adminsdk-fbsvc-a632f7f6e6.json:/secrets/college-counter-9057f-firebase-adminsdk-fbsvc-a632f7f6e6.json:ro
    expose:
      - "8000"
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  certs:

