.faceit-icon {
    width: 1em; /* adjust size as needed */
    height: 1em;
    /* Invert the color so that black becomes white */
    filter: invert(1);
    transition: filter 0.3s ease;
  }
  
  .btn-outline-light:hover .faceit-icon {
    filter: none;
  }